html, body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(hsl(210, 95%, 8%), hsl(198, 96%, 19%));
  background-attachment: fixed;
  background-size: cover;
  font-family: monospace;
  scroll-behavior: smooth;
}

.page-section {
  height: 100vh;                     
  scroll-snap-align: start;         
}